<strong>Olá, {{ organizerName }}</strong>
<p>Um novo usuário se inscreveu no seu Meetup, veja os dados abaixo:</p>
<p>
  <strong>Name: </strong> {{ userName }} <br />
  <strong>Email: </strong> {{ userEmail }} <br />
  <br />
  <small>
    Já pode começar a preparar o networking ;)
  </small>
</p>
